.whole-page {
  position: fixed;
  background-color: rgb(217, 220, 222);
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
.modal-container {
  background-color: brown;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  z-index: 10;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
